*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: aliceblue; */
}
body{
    /* margin: 0px 10%; */
    width: 100%;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

header img{
    width: 8%; 
}
header{
    position: fixed;
    color: white;
    width: 100%;
    height: 20px;
    display: flex;
    /* justify the header contents */
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #23265e;
    z-index: 1;
}

.logo{
    cursor: pointer;
    /* according to justification made add some propert to your magin */
    margin-right: auto ;
}

.nav-menus{
    list-style: none;
}
.nav-menus li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-menus li a{
    transition: all 0.3s ease 0s;
}

.nav-menus li a:hover{
    background-color: cadetblue;
}

button{
    padding: 9px 25px;
    background-color: blue; 
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

main{
    padding: 0px 10%;
}
.banner{
    top:0;
    background-color:cadetblue;
}
.banner img{
    max-width: 100%;
}
.ads{
    height: 50px;
    background-color: azure;    
}
.ads marquee{
    padding: 10px;
}

.home-about img{
  width: 50%;
}
.note{
    float: right;
    margin-left: 55%;
    margin-top: -38%;
    padding: 5px;
}
.note h3{
    color: brown;
    font-weight: bold;
}
.note p{
    padding: 10px 0px;
}
.signature{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.learning-growth img{
    max-width: 100%;
    opacity: 0.2;
}

.testimony{
    height: 57vh;
    /* background-color: rgb(14, 173, 30); */
}

.stud{
    padding: 10px 0;
    float: left;
}
.stud p{
   padding: 10px 0;
}
.testm{
   top: 0;
   float: right;
   max-width: 100%;
}
footer{
    color: white;
    padding: 0 10%;
    height: 25vh;
    background-color:#23265e;
}
footer p{
    padding: 0px 30px;
    top: 0px;
    text-align: center;
}
.social-links{
    padding: 10px 0;
}
.social-links .icon{
    padding: 10px 0px;
}
.footer-logo img{
    max-width: 10%;
    margin-top: -5%;
    margin-left: 45%;
}
.contact h5{
    float: right;
    margin-top: -8%;
}
.contact span{
    float: right;
    margin-top: -5%;
}

/* courses nav */

.academics{
  padding: 30px 0px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  th{
    background-color:cadetblue;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}